<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sunrisedutyfree.com.cdf.report.demorepository.Test_GlobalRepository">

    <select id="fingTest_ChildById" resultType="sunrisedutyfree.com.cdf.report.demoentity.Test_Global">
        select * from test_global where id=#{arg0}
    </select>

    <select id="findAllTest_GlobalsByCondition" resultType="sunrisedutyfree.com.cdf.report.demoentity.Test_Global">
        select * from test_global where 1=1
        <if test="_parameter != null">
            and #{arg0}
        </if>
    </select>

    <insert id="saveTest_Global" parameterType="sunrisedutyfree.com.cdf.report.demoentity.Test_Global" useGeneratedKeys="true" keyProperty="id">
        insert into test_global(value,id) values(#{value},#{id})
        <!--<selectKey>-->
        <!--select next value for MYCATSEQ_TEST-->
        <!--</selectKey>-->
    </insert>

    <insert id="saveTest_Globals" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!-- mycat 批量插入需要开启下面的注释内容 -->
        <!-- /*!mycat:catlet=io.mycat.route.sequence.BatchInsertSequence */ -->
        insert into test_global(value,id) values
        <foreach collection="list" item="test" separator=",">
            (#{test.value},#{test.id})
        </foreach>

        <!--<selectKey keyProperty="id" order="AFTER">-->
        <!--select last_insert_id() as id-->
        <!--</selectKey>-->
    </insert>

</mapper>