<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sunrisedutyfree.com.cdf.report.demorepository.TestRepository">

    <select id="findTestById" resultType="sunrisedutyfree.com.cdf.report.demoentity.Test">
        select * from test where id=#{arg0}
    </select>

    <select id="findAllTestsByCondition" resultType="sunrisedutyfree.com.cdf.report.demoentity.Test">
        select * from test where 1=1
        <if test="_parameter != null">
               and #{arg0}
        </if>
    </select>

    <insert id="saveTest" parameterType="sunrisedutyfree.com.cdf.report.demoentity.Test" useGeneratedKeys="true" keyProperty="id">
        insert into test(value) values(#{value})
        <!--<selectKey>-->
        <!--select next value for MYCATSEQ_TEST-->
        <!--</selectKey>-->
    </insert>

    <insert id="saveTests" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!-- mycat 批量插入需要开启下面的注释内容 -->
        <!-- /*!mycat:catlet=io.mycat.route.sequence.BatchInsertSequence */ -->
        insert into test(value) values
        <foreach collection="list" item="test" separator=",">
            (#{test.value})
        </foreach>

        <!--<selectKey keyProperty="id" order="AFTER">-->
        <!--select last_insert_id() as id-->
        <!--</selectKey>-->
    </insert>

    <delete id="deleteAll">
        delete from test;
    </delete>

</mapper>