<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/mycat.properties</value>
            </list>
        </property>
    </bean>

    <bean class="org.apache.commons.dbcp2.BasicDataSource" name="basicDataSource">
        <property name="driverClassName" value="${driverclass}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${username}"></property>
        <property name="password" value="${password}"></property>

        <!--<property name="maxTotal" value="10"></property>-->
        <!--<property name="initialSize" value="1"></property>-->
    </bean>

    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" value="#{basicDataSource}"></property>
    </bean>

    <!--mybatis-->
    <beans>
        <bean class="org.mybatis.spring.SqlSessionFactoryBean" name="sqlSessionFactoryBean">
            <!--<property name="transactionFactory"></property>-->
            <property name="dataSource" value="#{basicDataSource}"></property>
            <property name="configLocation" value="classpath:mybatis-config-spring.xml"></property>
        </bean>
    </beans>

</beans>