<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:properties/mysql.properties</value>
                <value>classpath:properties/sqlserver_jcpush.properties</value>
            </list>
        </property>
    </bean>

    <!--mysql-->
    <beans>
        <bean class="org.apache.commons.dbcp2.BasicDataSource" name="basicDataSource_MySQL">
            <property name="driverClassName" value="${jdbc.mysql.driverclass}"></property>
            <property name="url" value="${jdbc.mysql.url}"></property>
            <property name="username" value="${jdbc.mysql.username}"></property>
            <property name="password" value="${jdbc.mysql.password}"></property>
        </bean>

        <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager_MySQL">
            <property name="dataSource" value="#{basicDataSource_MySQL}"></property>
        </bean>

        <!--mybatis-->
        <beans>
            <bean class="org.mybatis.spring.SqlSessionFactoryBean" name="sqlSessionFactoryBean_MySQL">
                <!--<property name="transactionFactory"></property>-->
                <property name="dataSource" value="#{basicDataSource_MySQL}"></property>
                <property name="configLocation" value="classpath:mybatis_config_spring_mysql.xml"></property>
            </bean>
        </beans>
    </beans>

    <!--sql server-->
    <beans>
        <bean class="org.apache.commons.dbcp2.BasicDataSource" name="basicDataSource_SQLServerL_JCPUSH">
            <property name="driverClassName" value="${jdbc.sqlserver.driverclass}"></property>
            <property name="url" value="${jdbc.sqlserver.url}"></property>
            <property name="username" value="${jdbc.sqlserver.username}"></property>
            <property name="password" value="${jdbc.sqlserver.password}"></property>
        </bean>

        <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager_SQLServer_JCPUSH">
            <property name="dataSource" value="#{basicDataSource_SQLServerL_JCPUSH}"></property>
        </bean>

        <!--mybatis-->
        <beans>
            <bean class="org.mybatis.spring.SqlSessionFactoryBean" name="sqlSessionFactoryBean_SQLServer_JCPUSH">
                <!--<property name="transactionFactory"></property>-->
                <property name="dataSource" value="#{basicDataSource_SQLServerL_JCPUSH}"></property>
                <property name="configLocation" value="classpath:mybatis_config_spring_sqlserver_jcpush.xml"></property>
            </bean>
        </beans>
    </beans>
</beans>